htdigest
public/features/*
public/images/*
public/im/*
public/news/*
public/syn/*
public/tmp/*
public/archives/cache/*
public/calendar/tmp/*
public/uploads/*
local/config/sfactive.cfg
local/cache/*
sf-active/shared/session/*
shared.may/vendor/*
shared.may/session/*
shared
*.zip
*.tgz
*.pdf
*.PDF
public/*.html
public/converge/*
google*.html
